html{
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

header{
    background-color: white;
    position: relative;
    padding: 1rem;
}

.nav_list{
    display: grid;
    flex-direction: row;
    color: black;
}

.nav_buttons {
    display: flex;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
    align-content: left;
    font-style: none;
    color: black;
    justify-content: space-evenly
}

.nav_buttons a{
    display: black;
    list-style-type: none;
}



.first_title {
    background-color: black;
    color: white;
    margin-right: 2rem;
    margin-left: 2rem;
}

.picture_title img{
    background-color: black;
    display: flex;
    
}

.second_title{
    background-color: black;
    color: white;
    margin-top: 15rem;
    margin-left: 2rem;
}

.title_box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black
    
}
main section{
    margin: 1rem auto;
    width: 80%;
}

main image{
    float: left;
}

.about_us_card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.about_us_paragraph img{
    float: inline-start;
}

.about_us_paragraph{
    display: flex;
    flex-direction: row;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box a{
    background-color: #bf7631;
    color: white;
}

.product_box_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 65px;
    row-gap: 70pm;
}

footer{
    background-color: #bf7631;
}