html{
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    margin: 0;
}

header{
    background-color: #bf7631;
    position: relative;
    padding: 1rem;
}

nav a{
    color: black;
    text-decoration: none;
    position: absolute;
    top: 0.7rem;
    right: 1rem;
}

nav ul {
    list-style-type: none;
    position: absolute;
    top: 0.7rem;
    left: 1rem;
}

nav li {
    display: inline;
    margin-left: 0.5rem;
}

nav div {
    color: black;
    position: relative;
    display: inline; 
    top: 0.7rem;
    left: 40rem;
 
}

main section {
    background-color: black;
    padding: 2rem;
}