html{
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

header{
    background-color: white;
    position: relative;
    padding: 1rem;
}

nav a{
    color: black;
    text-decoration: none;
    position: absolute;
    top: 0.7rem;
    right: 1rem;
}

.nav_list {
    list-style-type: none;
    position: absolute;
    top: 0.7rem;
    left: 1rem;
}

nav li {
    display: inline;
    margin-left: 0.5rem;
}

nav div {
    color: black;
    position: relative;
    display: inline; 
    top: 0.7rem;
    left: 40rem;
    width: 80%;
 
}

.title {
    background-color: black;
    color: white;
    padding: 2rem;
    margin: 1rem auto;
    width: 80%;
}

main section{
    margin: 1rem auto;
    width: 80%;
}

main image{
    float: left;
}



.aboutus img{
    float: right;

}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product_box_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 65px;
    row-gap: 70pm;
}